<!-- Main Hero Image -->
<div class="hero">
  <canvas class="hero_background" width="200" height="200" id="hero-canvas"></canvas>
  <div class="hero_title">Methexis</div>
  <div class="hero_title_small"><i>our encounter with the divine</i></div>
  <img data-canvas-image style="display: none" src="<%=image_url('test.jpg')%>">
</div>

<!-- Project Description -->
<div class="row" id="about">
  <div class="medium-12 large-12 columns">
    <p>The way we perceive the objects around us changes based on the environment, our own emotions, and the physical characteristics of the object itself. Medieval art, at its core, relies on the environment to connect with its viewers. The brilliant intensity of a rising sun and the last fading rays of a sunset change how we interact with the objects around us and how those object engage with us.</p>
    <h3 class="quote-full"><i>Medieval art, at its core, relies on the environment to connect with its viewers</i></h3>
    <p>When we view works of art today, especially medieval works, we often see them far removed from their original contexts and environments. We can find these objects in musuems, enclosed behind glass cases and illuminated in perfect lighting. These conditions create a distance between the viewer and the object that hinders a deeper relationship between the two.</p>
    <p>Yet, distance between the viewer and a work of art was not a foreign concept in the medieval world. We only have to look at Christian churches and monuments during the medieval period to see the importance of hierarchy and distance in such spaces. Hagia Sophia, constructed from 532 - 537 AD, immediately overwhelmed the viewer with its majesty, openess, and sheer size.</p>
    <div class="hagia-full-container">
      <%= image_tag("hagia-full.jpg", class: "hagia-full")%>
      <div class="hagia-full-overlay">Hagia Sophia Interior<br/>532 - 537 AD</div>
    </div>
    <p>The altar, apse, and a large part of the nave, however, were off limits to all people except the clergy, choir, and emperor. The Cathedral at Santiago de Compostela, constructed five centuries later from 1075 - 1211 AD, had similar constraints on the space with a large part of the nave reserved for clergical use. The vast majority of medieval viewers experienced the liturgy from far away, rarely catching glimpses of the altar and the beautiful objects found on it. This distance also impacted the way medieval viewers would have been able to connect with the mosaic decorations adorning the walls of churches. Because of the scale of many of these buildings, the viewer would have not been able to make out many of the finer details, never experiencing up close the intricacies that many of these works of art had to offer.</p>
    <p>The distance at which the majority of medieval viewers experienced spaces like Hagia Sophia and the Cathedral at Santiago de Compostela begs the question: how did viewers experience and grow closer to the divine in such spaces? In vast interiors like Hagia Sophia, it is easy to become lost in its sheer size as the physical space serves as a reminder of God's majesty and our smallness in comparison. Although this prompts thoughts of God, it does not help bring the viewer closer to experiencing the divine. It instead reinforces the great distance between the viewer and God. This phenomenon was not lost on the artists and architects of the medieval period who wanted to create spaces that facilitated worshippers' interactions with the divine.</p>
    <p>These monumental spaces were subject to the changing natural environment and light. Throughout the liturgy, a space like Hagia Sophia would be bathed in sunlight and shrouded in shadow. The mosaics, marble floors, and objects found on the altar directly play off the changing phenomenon of light, adapting to the variable intensities of light throughout the day. The changing surfaces would destablize the viewer and help elicit a feeling of something unnatural. These objects would become alive under the changing conditions, confronting and confounding the viewer. The animate changing into the inanimate mirrors the central mystery of the Eucharist as the bread becomes the body of Christ and the wine becomes the blood of Christ. In a mysterious way, the viewer is able to participate (methexis) in the divine through the destablizing surfaces around him/her.</p>
    <h3 class="quote-full"><i>The reflective surface challenges the truthfulness of sight</i></h3>
    <p>While experiencing the phenomenon of changing light upon a glittering surface is extremely difficult without being physically present in a space that is built to facilitate such interactions, I believe it is possible to achieve a destabilizing effect through deliberate manipulation of static images. In <i>Mirror, Inspiration, and the Making of Art in Byzantium</i>, Bissera Pentcheva touches upon the enchantment and mystey contained in many of the Eucharistic vessels that were used in the medieval period, stating that "the reflective surface challenges the truthfulness of sight". As a viewer, you lose the ability to determine what is real. </p>
    <div class="riha-container">
      <%= image_tag("riha_chalice.jpg", class: "riha")%>
      <div class="riha-overlay">Riha Chalice<br/>542 AD</div>
    </div>
    <p>Using the reflective surface of an object as tool to challenge our visual perception of objects, we can come closer to seeing an object come alive before our eyes. The Riha Chalice, dated to 542 AD, contains the desired reflective quality that was characteristic of medieval Eucharistic vessels. In order to bring this quality to life and challenge our perception of what is real, I created two interactive displays that allow the user to physically change the environment in which we perceive the Riha Chalice. By clicking and dragging on the sliders shown below, you can change the environment and play with how the light illuminates the chalice.</p>
  </div>
  <h1 class="quote-full">Interactive Project</h1>
</div>

<!-- Project -->
<div class="row" id="project">
  <div class="medium-12 large-12 columns">
    <div class='diff-container twentytwenty-container' id='diff-container-1'>
      <img src="<%=image_url('altar.jpg')%>">
      <img src="<%=image_url('altar_chalice.jpg')%>">
    </div>
    
    <div class='diff-container twentytwenty-container' id='diff-container-2'>
      <img src="<%=image_url('altar_chalice.jpg')%>">
      <img src="<%=image_url('altar_chalice_black_white.jpg')%>">
    </div>
  </div>
</div>
