<!-- Main Hero Image -->
<div class="hero">
  <canvas class="hero_background" width="200" height="200" id="hero-canvas"></canvas>
  <div class="hero_title">Methexis</div>
  <div class="hero_title_small"><i>our encounter with the divine</i></div>
  <img data-canvas-image style="display: none" src="<%=image_url('test.jpg')%>">
</div>

<!-- Project Description -->
<div class="row" id="about">
  <div class="medium-6 large-12 columns">
    <p>The way we perceive the objects around us changes based on the environment, our own emotions, and physical characteristics of the object itself. Medieval art, at its core, relies on the environment to connect with its viewers. The brilliant intensity of a rising sun and the last fading rays of a sunset change how we interact with the objects around us and how those object engage with us.</p>
    <p>When we view objects today, especially medieval ones, we see them far removed from their original contexts and environments. We find these objects in musuems, enclosed behind glass cases and illuminated in perfect lighting. These conditions create a distance between the viewer and the object that hinders a deeper relationship between the two.</p>
      <p>Yet, distance between the viewer and object was certainly not a foreign concept in the medieval world. We only have to look at Christian churches and monuments during the medieval period to see the importance of hierarchy and distance in such spaces. Hagia Sophia, constructed from 532 - 537 AD, immediately overwhelmed the viewer with its majesty, openess, and sheer size. The altar, apse, and a large part of the nave, however, were off limits to all people except the clergy, choir, and emperor. The Cathedral at Santiago de Compostela, although constructed five centuries later, had similar constraints on the space with a large part of the nave only reserved for clergical use. The vast majority of medieval viewers experienced the liturgy from far away, rarely catching glimpses of the altar and the beautiful objects found on it. They even experienced the physical space differently. Although medieval viewers would have been able to see the vast walls and the mosaics on them, they would not be able to make out many of the finer details, never fully experiencing the beauty that many of these works of art had to offer.</p>
    <p>The distance at which the majority of medieval viewers experienced spaces like Hagia Sophia and the Cathedral at Santiago de Compostela begs the question: how did viewers experience and grow closer to the divine in such spaces? In vast interiors like Hagia Sophia, it is easy to become lost in its sheer size as the physical space serves as a reminder of God's majesty and our smallness in comparison. Although this physical aspect of the space prompts thoughts of God, it does not help bring the viewer closer to experiencing the divine and coming closer to God.</p>
    <p>These monumental spaces were subject to the changing natural environment and light. Throughout the liturgy, a space like Hagia Sophia would be bathed in sunlight and shrouded in shadow. The mosaics, marble floors, and objects found on the altar directly play off the changing phenomenon of light, reflecting brilliant rays of light at key moments of the day. The changing surfaces would destablize the viewer and help elicit a feeling of something unnatural in the viewer. These objects would become alive under the changing conditions, confronting and confounding the viewer. The animate changing into the inanimate mirrors the central mystery of the Eucharist as the bread becomes the body of Christ and the wine becomes the blood of Christ. In a mysterious way, the viewer is able to participate (methexis) in the divine through the destablizing surfaces around him/her.</p>
    <p>To experience the phenomenon of changing light upon a glittering surface is nearly impossible without being physically present in a space that is built to facilitate such interactions. It is, however, possible to simulate these environments through manipulation of images.</p>
  </div>
</div>

<!-- Project -->
<div class="row" id="project">
  <div class="medium-6 large-12 columns">
    <h4>My Project</h4>
    <div class='diff-container' id='diff-container-1'>
      <img src="<%=image_url('altar.png')%>">
      <img src="<%=image_url('altar_chalice.png')%>">
    </div>
    
    <div class='diff-container' id='diff-container-2'>
      <img src="<%=image_url('altar_chalice.png')%>">
      <img src="<%=image_url('altar_chalice_black_white.png')%>">
    </div>
  </div>
</div>
